## 모듈 불러오기

In [1]:
import pandas as pd

## 데이터 불러오기

In [2]:
data_path = "/content/drive/MyDrive/colab/codeit/data/"

In [3]:
titanic_df = pd.read_csv(data_path + 'titanic.csv')

In [4]:
titanic_df.head()

   Unnamed: 0  Survived  Pclass  ...     Fare Cabin  Embarked
0           0         0       3  ...   7.2500   NaN         S
1           1         1       1  ...  71.2833   C85         C
2           2         1       3  ...   7.9250   NaN         S
3           3         1       1  ...  53.1000  C123         S
4           4         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

## one-hot encoding

In [5]:
titanic_sex_embarked = titanic_df[['Sex', 'Embarked']]

In [6]:
titanic_sex_embarked.head()

      Sex Embarked
0    male        S
1  female        C
2  female        S
3  female        S
4    male        S

In [9]:
# 가장 쉬운 방법
# 변환하고자하는 컬럼만 넘겨주는 방법
one_hot_encoded_df = pd.get_dummies(titanic_sex_embarked)

In [8]:
one_hot_encoded_df.head()

   Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0           0         1           0           0           1
1           1         0           1           0           0
2           1         0           0           0           1
3           1         0           0           0           1
4           0         1           0           0           1

In [10]:
# optional parameter를 활용한 방법
# 전체 데이터를 넘겨주고 변환하길 원하는 컬럼만 변환하는 방법

one_hot_encoded_df = pd.get_dummies(data=titanic_df, columns=['Sex', 'Embarked'])
one_hot_encoded_df.head()

   Unnamed: 0  Survived  Pclass  ... Embarked_C  Embarked_Q  Embarked_S
0           0         0       3  ...          0           0           1
1           1         1       1  ...          1           0           0
2           2         1       3  ...          0           0           1
3           3         1       1  ...          0           0           1
4           4         0       3  ...          0           0           1

[5 rows x 15 columns]